@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1280px;
    height: 100vh;
    margin: auto;
}

.logo-link {
    color: #000;
    font-size: 80px;
    font-weight: 400;
}
.logo-mark {
    color: #4BCAFF;
}
.nav {
    height: 70px;
    background: #35444F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.nav-link {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 35px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover {
    background: #222F3A;
    padding-left: 40px;
}
.main {
    display: flex;
    gap: 55px;
    margin-top: 50px;
}
.aside {
    width: 444px;
    height: 399px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
}
.aside-link {
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px; /* 100% */
    display: block;
    padding-left: 44px;
    transition: 0.3s;
    height: 80px;
    display: flex;
    align-items: center;
}
.aside-link:hover {
    color: #000;
    padding-left: 70px;
    background: #DBDBDB;
}

.info {
    
    width: 100%;

}
.image-wrapper {

    width: 100%;
    height: 529px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover {
transform: scale(1.1);
transition: transform 0.3s ease;
}
.text {
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    padding: 0 20px;
}
.footer-link {
    color: #0C1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px; /* 100% */
}
.footer-link:hover {
    color: #3181A6;
    text-decoration: underline;
}
.footer-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer p {
    margin-left: 50px;
}
